In [1]:
import pandas as pd
fpath_ratings = 'ratings.csv'
fpath_movies = 'movies.csv'
fpath_links = 'links.csv'
fpath_tags = 'tags.csv'

In [2]:
df_ratings = pd.read_csv(fpath_ratings)
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df_movies = pd.read_csv(fpath_movies)
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_links = pd.read_csv(fpath_links)
# df_links.head()

In [5]:
df_tags = pd.read_csv(fpath_tags)
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [6]:
df_ratings_movies = pd.merge(
    df_ratings,df_movies,left_on='movieId',right_on='movieId',how='inner'
)
df_ratings_movies.loc[df_ratings_movies['movieId'] == 50]

,userId,movieId,rating,timestamp,title,genres
572,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
573,5,50,4.0,847434881,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
574,6,50,1.0,845553381,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
575,7,50,4.5,1106635993,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
576,8,50,5.0,839463644,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
771,601,50,5.0,1441639169,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
772,602,50,5.0,840875720,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
773,606,50,4.5,1171234887,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
774,608,50,4.5,1117491010,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
775,610,50,4.0,1493844757,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [7]:
df_ratings_movies_tags = pd.merge(
    df_ratings_movies, df_tags, left_on='movieId', right_on= 'movieId', how='inner'
)
df_ratings_movies_tags.loc[df_ratings_movies_tags['movieId'] == 50]

,userId_x,movieId,rating,timestamp_x,title,genres,userId_y,tag,timestamp_y
1358,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,mindfuck,1457842328
1359,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,suspense,1457842315
1360,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,thriller,1457842332
1361,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,tricky,1457842340
1362,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,twist ending,1457842306
...,...,...,...,...,...,...,...,...,...
2577,610,50,4.0,1493844757,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,suspense,1457842315
2578,610,50,4.0,1493844757,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,thriller,1457842332
2579,610,50,4.0,1493844757,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,tricky,1457842340
2580,610,50,4.0,1493844757,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,424,twist ending,1457842306
2581,610,50,4.0,1493844757,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,474,heist,1137206826